<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
         
        <context:component-scan base-package="cn.zj.ssm"/>
          
        <!-- 开启springmvc的注解，解析json格式 -->
        <mvc:annotation-driven/>
        
        <!-- 配置视图解析器 -->
        
        
        <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
          
          <property name="prefix" value="/WEB-INF/view/"/>
          <property name="suffix" value=".jsp"></property>
        
        </bean>
        
        
        <!-- 配置拦截器 -->
        
        <mvc:interceptors>
        
        <mvc:interceptor>
        <!-- 配置要拦截的url;/**拦截多级的请求：如/a/b/c.do;
             /*拦截一级请求；如/a/b.do         
         -->
        <mvc:mapping path="/**"/>
        <!-- 配置不要拦截的请求 -->
        <mvc:exclude-mapping path="/user/login.do"/>
        
        <bean class="cn.zj.ssm.Intercepto.UserIntercepto"></bean>
        </mvc:interceptor>
        
        </mvc:interceptors>
        
</beans>
